# Global
.vscode/
.idea/
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# OS files
.DS_Store
Thumbs.db

# Server (.NET API)

# Build results
/server/bin/
/server/obj/
/server/**/*.db

# Publish results
/server/**/*.publish/
/server/**/*.deploy/

# User-specific files
/server/*.user
/server/*.suo

# Logs
/server/**/*.log

# Configuration
/server/appsettings.Development.json
/server/appsettings.Local.json

# Client (Angular App)

# Node
/client/node_modules/
/client/dist/
/client/tmp/
/client/.angular/

# Environment files
/client/src/environments/environment.ts
/client/src/environments/environment.prod.ts

# NPM logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Other

# Test Coverage
coverage/
